<!--
 I declare that this code was written by me. 
 I will not copy or allow others to copy my code. 
 I understand that copying code is considered as plagiarism.
 
 Student Name: C. Rajeev Kumar
 Student ID: 21037897
 Class: C372-1D-E63C-A
 Date created: 10/02/2025
 !-->
 
<!DOCTYPE html>
<html>
<head>
    <title>Transaction Successful</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>Thank you for your payment!</p>
</body>
</html>
